/*
GUI Programming II HW 5
Christa Davis
DASH-Meet styles.css
Styling for DASH-Meet Website
*/

/* General Body Styling */
* {
	margin: 0;
	padding: 0;
	color: black;
}
body {
	background-color: #CAD2C5;
	font-size: 24px;
}
.feature .feature-container {
	background-color: #52796F;
}
.container {
  width: 100%;
}

/* All items float left */
li * {
  float: left;
}

button {
  background: none;
	margin: 10px;
  color: white;
  font-size: 15px;
  width: 100px;
}


/* Task List CSS */
h3,
label[for='new-task'] {
  color: black;
  font-size: 24px;
  border-bottom: 4px solid black;
  padding: 30px 0 10px;
}
input[type="text"] {
  font-size: 20px;
  height: 20px;
  padding: 20px;
  background: white;
}
label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}
input#new-task {
  float: left;
  width: 400px;
}
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 2px solid black;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 20px;
}
li > label {
  font-size: 20px;
  line-height: 40px;
  width: 300px;
  padding: 0 0 0 20px;
}
li >  input[type="text"] {
  width: 300px;
}

#completed-tasks label {
  text-decoration: line-through;
}

ul li input[type=text] {
  display:none;
}
ul li.editMode input[type=text] {
  display:block;
}
ul li.editMode label {
  display:none;
}
