/*ADD YOUR CSS HERE*/
body{
background-color: #white;

}

#todos{
    align-items: center;
    width: 400px;

}
.tasknum{
    /* display: flex; */
    display: block;


}

.options{
    display: flex;
    gap: 25px;
    padding-bottom: 10px;
}
i{
    cursor: pointer;
}

#errorMsg{
    color: red;
}
/*polls*/
.choice {
  height: 400px;
  display: inline-block;
  width: 100px;
}
.result {
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.bar {
  height: 0%;
  width: 70%;
  margin: 0 auto;
}

.bar[data-choice="1"] {
  background-color: white;
}

.bar[data-choice="2"] {
  background-color: gray;
}

.bar[data-choice="3"] {
  background-color: darkgray;
}
.label {
  height: 70px;
  text-align: center;
}
form {
	background-color: #fff;
	max-width: 500px;
	margin: 50px auto;
	padding: 30px 20px;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

#pollform{
margin-bottom: 100px;
}
#pollcontainer{
  background-color:lightgray;
}
#notescontainer{
  background-color: lightgray;
  float:left;
}
#tasklistcontainer{
  background-color: lightgray;
  float:left;
}
.form-control {
			text-align: left;
		/*	*/

		}
		/* Styling form-control Label */
			.form-control label {
				display: block;
				margin-bottom: 10px;
			}
			.form-control input,
					.form-control select,
					.form-control textarea {
						border: 1px solid #777;
						border-radius: 2px;
						font-family: inherit;
						padding: 10px;
						display: block;
						width: 95%;
					}
#label-name{
  font-weight: bold;
}
#label-choice{
  font-weight: bold;
}
